/* Start Variables */
:root {
    --mainColor: #10cab7;
    --secondColor: #2c4755;
    --backColor: #f6f6f6;
}

/* End Variables */
/* Start Global */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif !important;
}

::selection {
    color: var(--mainColor);
    background-color: var(--secondColor);
}
/* End Global */


/* Start Header */
header {
    padding: 15px 0;
    /* background-color: var(--backColor); */
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    width: 80px !important;
}

.links {
    position: relative;
}

.links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    position: absolute;
    right: -70px;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-size:1.2rem ;
    font-weight: 500;
}

.links ul a {
    text-decoration: none;
    margin: 0;
    padding: 0 15px;
    color: var(--secondColor);
    transition: .7s;
}
.links ul a:hover{
    color: var(--mainColor);
    margin: 0 15px;
}
.links i {
    font-size: 1.5rem;
}
/* End Header */

/* Start main home */
.home {
    background-image: url('../assets/landing.jpg');
    background-size: cover;
    height: calc(100vh + 62px);
    position: relative;
    top: -62px;
    text-align: center;
    z-index: -1;
}

.home-content h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--mainColor);
}

.home-content p {
    font-size: 1.2rem;
}

/* End main home */

/* Start features */
#features {
    padding: 50px 0;
    background-color: var(--backColor);
}

#features h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

#features p {
    color: #777;
}

#features i {
    color: var(--mainColor);
}

/* End features */


/* Start Services */

/* Heading */
.service-text {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.service-text h1 {
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
}

.service-text p {
    color: #797979;
    font-size: 20px;
    position: relative;
    bottom: 50px;
    z-index: 1;
}

/* Heading */

.services .item{
    position: relative;
    margin: 20px 10px;
    padding: 0 20px;
}
.services .item i{
    position: absolute;
    left: -45px;
    color: var(--mainColor);

}
.services .item h3{
    font-size: 1.2rem;
    font-weight: 800;
}
.services .item p{
    color: #777;
    font-size: 1rem;
}
.services .image-services{
    position: relative;
}
.services .image-services::before{
    content: "";
    background-color: var(--secondColor);
    width: 80px;
    height: calc(100% + 40px);
    position: absolute;
    right: 70px;
    bottom: -20px;
    z-index: -11;
}
.services .image-services img{
    width: 70%;
}
/* End Services */

/* Start Portfolio */
#portfolio {
    background-color: var(--backColor);
    margin: 60px 0;
}
.portfolio .row .col-md-4 {
    padding-top: 10px;
}
.portfolio .row .col-md-4:hover {
    box-shadow: 0px 0px 8px 2px #898989;
}
.portfolio .text {
    padding: 0 20px;
    margin: 20px 0;
}

.portfolio .text h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.portfolio .text p {
    color: #797979;
}

/* End Portfolio */


/* Start about */

#about {
    margin: 60px 0;
}

.about img {
    width: 75%;
}

.about .image {
    position: relative;
    width: 100%;
    height: 100%;
}
.about .image::before{
    content: "";
    width: 100px;
    height: calc(100% + 80px);
    background-color: #cecdcd;
    position: absolute;
    left: -20px;
    top: -40px;
    z-index: -1;

}
.about .image::after{
    content: "";
    width: 70px;
    height: calc(100% - 60px);
    background-color: var(--mainColor);
    position: absolute;
    right: 50px;
    top: -40px;
    z-index: -1;

}
.about .about-line {
    height: 2px;
    width: 50%;
    background-color: var(--mainColor);
    margin: 30px 0;
}

.about .col-md-7 :first-child {
    font-weight: 800;
    line-height: 30px;
}

.about .col-md-7 :last-child {
    color: #777;
    line-height: 30px;

}

/* End about */


/* Start Contact */

#contact {
    margin: 60px 0;
    background-color: var(--backColor);
}

.contact .contact-text {
    text-align: center;
    padding: 0px 0 100px 0;
}

.contact .contact-text h1 {
    color: var(--secondColor);
    font-weight: 900;
    font-size: 2rem;
}

.contact .contact-text h2 a {
    text-decoration: none;
    color: var(--mainColor);
    font-weight: 700;
}

.contact .contact-text h4 {
    color: var(--secondColor);
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
}

.contact .contact-text i {
    color: var(--secondColor);
}

/* End Contact */




/* Start Footer */

.final {
    background-color: var(--secondColor);
    padding: 15px 0;

}

.final h4 {
    color: #ebeced;
    font-size: 1.2rem;

    padding: 0;
    margin: 0;
}

.final span {
    color: var(--mainColor);
}

/* End Footer */